# Configuración de Base de Datos
# ---------------------------------
# Opción 1: PostgreSQL (ej. Supabase, Render Postgres)
# Descomenta y llena estas variables para usar PostgreSQL.
# DB_NAME=postgres
# DB_USER=postgres.project_ref
# DB_PASSWORD="your-db-password"
# DB_HOST=aws-0-us-west-2.pooler.supabase.com
# DB_PORT=6543

# Opción 2: SQLite (default si no se definen las variables de PostgreSQL)
# La app usará un archivo db.sqlite3 localmente.
# En Render, usará /var/data/db.sqlite3 si tienes un disco persistente.
# Opcionalmente, puedes forzar una ruta específica con esta variable:
# SQLITE_PATH=/ruta/personalizada/db.sqlite3

# Claves de la API
# -----------------
SUPABASE_URL=url_supabase
SUPABASE_KEY=anon_key

# Django
# ------
# DJANGO_DEVELOPMENT=1 (para generar una SECRET_KEY efímera si no hay una definida)
SECRET_KEY=tu_secret_key_aqui
DEBUG=True

# Google Maps
# -----------
GOOGLE_MAPS_API_KEY=map_key

# PayPal
# ------
PAYPAL_CLIENT_ID=tu_paypal_client_id
PAYPAL_SECRET=tu_paypal_secret
PAYPAL_MODE=sandbox
