# Django
SECRET_KEY=tu_secret_key_aqui
DEBUG=True

# Google OAuth
SOCIAL_AUTH_GOOGLE_CLIENT_ID=tu_google_client_id
SOCIAL_AUTH_GOOGLE_SECRET=tu_google_secret

# Google Maps
GOOGLE_MAPS_API_KEY=AIzaSyDo-8pjOOHVuAB2RY_qe9JqNioJo9nh12s

# PayPal
PAYPAL_CLIENT_ID=tu_paypal_client_id
PAYPAL_SECRET=tu_paypal_secret
PAYPAL_MODE=sandbox
